<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.albinskola.fitnessproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginHandler"
            android:label="@string/title_activity_login_handler" />
        <activity
            android:name=".MainMenuHandler"
            android:label="@string/title_activity_main_menu_handler" />
        <activity
            android:name=".AddWorkoutHandler"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignupHandler"
            android:label="@string/title_activity_signup_handler"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewWorkoutHandler"
            android:label="@string/title_activity_view_workout_handler"/>
        <activity
            android:name=".ProfileHandler"
            android:label="@string/title_activity_profile_handler"/>
        <activity
            android:name=".StatisticsHandler"
            android:label="@string/title_activity_statistics_handler" />
        <activity
            android:name=".TipsHandler"
            android:label="@string/title_activity_tips_handler"/>
    </application>

</manifest>
